.vux-popup-picker-select .vux-popup-picker-placeholder{
  color:#000;
}
.el-carousel__button{
  width:20px;

}
.el-carousel__indicators{
  width:120px;
  display: flex;
  justify-content:space-between;
}
